<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chengliang.im.mapper.UserMapper">

    <resultMap id="rm" type="com.chengliang.im.bean.User">
        <result column="user_id" property="userId"/>
        <result column="user_nick_name" property="userNickName"/>
        <result column="user_login_name" property="userLoginName"/>
        <result column="user_password" property="userPassword"/>
        <result column="user_sex" property="userSex"/>
        <result column="user_sign" property="userSign"/>
        <result column="user_online_status" property="userOnlineStatus"/>
        <result column="user_avatar" property="userAvatar"/>
        <result column="user_status" property="userStatus"/>
    </resultMap>

    <select id="selectUserByLoginName" resultMap="rm">
        select user_id, user_nick_name, user_login_name, user_password, user_sex, user_sign, user_online_status, user_avatar, user_status
        from user_tb where user_login_name = #{loginName}
    </select>

    <select id="selectUserByFriendGroupId" resultMap="rm">
        select u.user_id, user_nick_name, user_login_name, user_password, user_sex, user_sign, user_online_status, user_avatar, user_status
        from user_tb u inner join  friend_group_user fg  on u.user_id = fg.friend_group_user_id
        where fg.friend_group_id = #{friendGroupId}
    </select>

    <select id="selectUserListByGroupId" resultMap="rm">
        select u.* from user_tb u  inner join group_user gu  on u.user_id = gu.user_id
        where gu.group_id = #{id}
    </select>

    <select id="selectUserByGroupId" resultMap="rm">
        select * from group_tb g inner  join user_tb u  on  g.group_user_id = u.user_id
        where g.group_id = #{id}
    </select>

    <select id="getGroupIdsByLoginName" resultType="java.lang.Integer">
        select gu.group_id from user_tb u inner join group_user gu on u.user_id = gu.user_id
        where u.user_login_name = #{loginName}
    </select>

</mapper>